<<<<<<< HEAD
{{!-- The following component displays Ember's default welcome message. --}}
<WelcomePage />
{{!-- Feel free to remove this! --}}
=======
{{page-title "Dummy"}}

<h2 id="title">Welcome to Ember</h2>
>>>>>>> 9876835... v3.16.1...v3.24.0

{{outlet}}